@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
/*font-family: 'Padauk', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/*font-family: 'Roboto Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
/*font-family: 'Space Grotesk', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
/*font-family: 'Poppins', sans-serif;*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #A63CC8;
    box-shadow: 0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 100%;
    z-index: 10;
}

header .navegacion {
    padding: 20px;
}

header .navegacion a {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: .5s all;
    font-family: 'Padauk', sans-serif;
}

header .navegacion a:hover {
    background-color: #E080FF;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin: 0px 30px;
    display: none;
}

.desplegable {
    display: none;
}

/*creo barrita del medio*/
.menu-btn .menu-btn_burger {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(233, 147, 249, 0.2);
    transition: all 0.5s ease-in-out;
}

/*creo barrita de arriba y de abajo */
.menu-btn .menu-btn_burger::before,
.menu-btn .menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(233, 147, 249, 0.2);
    transition: all 0.5s ease-in-out;
}

/*aca le digo que se mueva en el eje Y hacia arriba*/
.menu-btn .menu-btn_burger::before {
    transform: translateY(-11px);
}

/*aca le digo que se mueva en el eje Y hacia abajo*/
.menu-btn .menu-btn_burger::after {
    transform: translateY(11px);
}

/*muevo la barra hacia la izquierda y que desaparezca*/
.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

/*muevo la barra para formar la cruz*/
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
/*-----------------------------*/

.flecha{
    height: 50px;
    width: 50px;
    background-color: #9933BA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    right:20px;
    bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transition: .3s all;
}
.flecha:hover{
    background-color: #A63CC8;
    cursor: pointer;
}
.flecha i{
    color: white;
    font-size: 23px;
}

/*-----------------------------*/
.inicio {
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: white;

}

.inicio .text {
    position: absolute;
    top: 40%;
    z-index: 5;
    margin: 0 25px;
}

.inicio .text h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 65px;
    color: #A63CC8;
}

.inicio .text p {
    font-size: 30px;
    margin: 20px 0;
    font-family: 'Space Grotesk', sans-serif;
}

.inicio .image {
    position: absolute;
    right: 0;
}

.inicio .image img {
    height: 800px;
    width: 800px;
}

/*-----------------------------*/
.sobremi,
.portfolio {
    background-color: #9933BA;
}

.sobremi,
.portfolio {
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.52);
}

.sobremi h2,
.portfolio h2,
.contacto h2 {
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cards .card {
    max-width: 350px;
    width: 350px;
    min-height: 400px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.52);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .4s all;
    margin: 50px auto;
}

.card:hover {
    transform: translateY(-10px);
    transition: .4s all;
    cursor: pointer;
}

.card .icon {
    background-color: white;
    border: 1px solid #D2D2D2;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    padding: 35px;
    margin: 20px;
}

.card .icon i {
    font-size: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
}

.card .titulo h3 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.card .descripcion>p {
    padding: 25px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.card .descripcion ul li {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    padding: 0px 25px;
}

/*-----------------------------*/

.tecnologias {
    background-color: white;
}

.tecnologias h2 {
    text-align: center;
    padding: 50px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.cards .tec {
    background-color: #9933BA;
    color: white;
}

.lenguaje {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
}

.lenguaje p {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}

.lenguaje i {
    font-size: 30px;
}

.descripcion-lenguaje {
    display: flex;
    flex-direction: row;
    padding: 15px;
}


/*-----------------------------*/

.trabajos {
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    justify-content: center;
    padding: 50px;
}

.trabajo {
    transition: 0.4s all;
}

.trabajo img {
    width: 400px;
    height: 300px;
    transition: 0.4s all;
}

.trabajo .glass {
    height: 300px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.90);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s all;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.trabajo .glass>img {
    height: 150px;
    width: 150px;
}

.trabajo .glass>p {
    color: white;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
}

.trabajo .buttons {
    background-color: white;
    margin: -3px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.trabajo .buttons a {
    text-decoration: none;
    padding: 10px;
    color: #7331B1;
    font-family: 'Poppins', sans-serif;
    transition: .4s all;
    width: 50%;
    text-align: center;
}

.trabajo .buttons a:hover {
    background-color: #7331B1;
    color: white;
}

.trabajo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.trabajo:hover .glass>img,
.trabajo:hover .glass>p {
    opacity: 0;
}

.trabajo:hover .glass {
    background-color: rgba(0, 0, 0, 0);
}



/*-----------------------------*/

.contacto {
    background-color: #3B3B3B;
}

.informacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.informacion i {
    padding: 25px;
    font-size: 30px;
    color: #7331B1;
    border: 2px solid #7331B1;
    border-radius: 50%;
    margin: 15px 30px;
    transition: 0.3s all;
}

.informacion i:hover {
    background-color: #7331B1;
    color: white;
    border: 2px solid #7331B1;
}

/*-----------------------------*/

@media (max-width:1230px) {
    .inicio .image {
        top: 20%;
    }

    .inicio .image img {
        height: 550px;
        width: 550px;
        padding: 0px 50px;
    }

    .trabajos {
        grid-template-columns: auto auto;
    }
}

@media(max-width:1052px) {

    .cards .card {
        width: 300px;
        height: 550px;

    }
}

@media (max-width:900px) {
    .cards {
        flex-direction: column;
    }
}

@media (max-width:820px) {
    .trabajos {
        grid-template-columns: auto;
    }
}

@media (max-width:768px) {
    .inicio .text {
        top: 15%;
    }

    .inicio .image {
        top: 35%;
    }

    .inicio .image img {
        width: 450px;
    }

}

@media(max-width:734px) {
    header .navegacion>a {
        display: none;
    }

    .menu-btn {
        display: flex;
        position: absolute;
        right: 0;
    }

    .desplegable {
        background-color: rgba(255, 255, 255, 0.6);
        display: none;
        position: absolute;
        height: auto;
        width: 100vw;
        top: 100%;
        left: 0;
        z-index: 22;
    }

    .desplegable>a {
        color: white;
        text-decoration: none;
        display: block;
        font-size: 20px;
        padding: 16px 10px;
        background-color: #9933BA;
        font-family: 'Padauk', sans-serif;
        position: relative;
        z-index: 222;
    }

    .desplegable a:hover {
        background-color: white;
        position: relative;
        transition: all 0.5s;
        color: #9933BA;
    }
}

@media (max-width:450px) {
    .inicio .text {
        top: 10%;
    }

    .inicio .image {
        top: 50%;
    }

    .inicio .image img {
        width: 300px;
        height: 400px;
        margin: 0;
    }

    .informacion i {
        margin: 10px 5px;
    }

    .trabajo img {
        width: 270px;
        height: 170px;
    }

    .trabajo .glass {
        height: 170px;
        width: 270px;
    }

    .trabajo .glass>img {
        height: 100px;
        width: 100px;
    }
}