@import "fonts";
.background {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .img {
        position: relative;
        img,
        .circle {
            height: 350px;
            width: 350px;
            border-radius: 50%;
        }
        img {
            position: relative;
            z-index: 1;
            border: 5px solid #0f0f0f;
        }
        .circle {
            background-color: #00ffff;
            opacity: 0.5;
            position: absolute;
            top: 2%;
            left: 2%;
            z-index: 0;
        }
    }
    .descripcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        h1 {
            font-size: 70px;
            padding: 0;
            letter-spacing: 5px;
            color: #c61ce4;
            font-family: $bebas;
        }
        p {
            font-size: 28px;
            padding: 10px 0;
            color: white;
            font-family: $opensans;
        }
        h1,
        p {
            z-index: 99;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .button {
                padding: 0 10px;
                margin: 10px 0;
                background-color: #00ffff;
                border-radius: 25px;
                transition: 0.3s all;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
                &:nth-child(1) {
                    margin-right: 15px;
                    background-color: #c61ce4;
                    p {
                        color: white;
                    }
                }
                p {
                    font-size: 18px;
                    color: #0f0f0f;
                    font-family: $worksans;
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .background {
        .img {
            img,
            .circle {
                height: 250px;
                width: 250px;
            }
        }
        .descripcion {
            h1 {
                font-size: 50px;
            }
            p {
                font-size: 23px;
            }
            .buttons .button p {
                font-size: 15px;
            }
        }
    }
}
@media (max-width: 610px) {
    .background {
        flex-direction: column;
        justify-content: center;
        .img {
            img,
            .circle {
                height: 350px;
                width: 350px;
            }
        }
        .descripcion {
            margin: 20px 0;
        }
    }
}
@media (max-width: 425px) {
    .background {
        flex-direction: column;
        justify-content: center;
        .img {
            img,
            .circle {
                height: 250px;
                width: 250px;
            }
        }
        .descripcion {
            h1 {
                font-size: 35px;
            }
            p {
                font-size: 19px;
            }
            .buttons {
                margin: 0 auto;
                .button p {
                    font-size: 18px;
                }
            }
        }
    }
}
