@import "fonts";
.navbar {
    padding: 17px 0;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #0f0f0f;
    border-bottom: 2px solid rgba($color: #c61ce4, $alpha: 0.3);
    >a {
        color: #c61ce4;
        text-decoration: none;
        padding: 17px 24px;
        font-size: 21px;
        transition: 0.5s all;
        font-family: $worksans;
        &:hover {
            background-color: white;
            color: black;
        }
    }
    .menu-dropdown {
        visibility: hidden;
        width: 95%;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        border-radius: 5px;
        background-color: rgba($color: #c61ce4, $alpha: 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s all;
        &::after {
            content: "";
            position: absolute;
            top: -15px;
            left: 10px;
            height: 0;
            width: 0;
            z-index: 2;
            border-left: 10px solid transparent;
            border-bottom: 15px solid rgba($color: #c61ce4, $alpha: 0.7);
            border-right: 10px solid transparent;
        }
        a {
            width: 100%;
            margin: 0 auto;
            color: #0f0f0f;
            text-decoration: none;
            padding: 17px 24px;
            font-size: 21px;
            transition: 0.5s all;
            font-family: $worksans;
        }
    }
    .contacts {
        position: fixed;
        top: 5px;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        i {
            color: #c61ce4;
            font-size: 24px;
            padding: 15px 20px;
            transition: 0.3s all;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}
@media (max-width: 768px) {
    .navbar {
        > a {
            display: none;
        }
        .btn-menu {
            height: 40px;
            width: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            margin: 0 20px;
            padding: 10px;
            transition: 0.3s all;
            .bar {
                height: 3px;
                width: 30px;
                background-color: #c61ce4;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                border-radius: 5px;
                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    height: 3px;
                    border-radius: 5px;
                    background-color: #c61ce4;
                }
                &::after {
                    width: 25px;
                    transform: translateY(10px);
                }
                &::before {
                    width: 35px;
                    transform: translateY(-10px);
                }
            }
            &:hover {
                cursor: pointer;
                background-color: #c61ce4;
                .bar {
                    background-color: #0f0f0f;
                    &::after,
                    &::before {
                        background-color: #0f0f0f;
                    }
                }
            }
        }
        .show {
            visibility: visible;
        }
        .contacts {
            top: 12px;
        }
    }
}
