@import "fonts";
.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    h2 {
        color: #00ffff;
        z-index: 1;
        padding: 10px 0;
        font: bolder 55px $worksans;
        margin-top: 70px;
    }
    .list-projects {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
        justify-content: center;
        margin: 25px 0;
        .project {
            transition: 0.3s all;
            .img {
                height: 200px;
                width: 380px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .description {
                    padding: 10px;
                    height: 200px;
                    display: none;
                    h3 {
                        color: white;
                        font-size: 24px;
                        font-family: $worksans;
                    }
                    .tecnologias {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        .tecnologia {
                            p {
                                font-size: 11px;
                                padding: 2px 5px;
                                margin: 3px;
                                border-radius: 10px;
                                font-family: $opensans;
                            }
                        }
                    }
                    .buttons {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        margin: 10px 0;
                        a {
                            padding: 5px 8px;
                            border-radius: 5px;
                            transition: 0.3s all;
                            font-family: $opensans;
                            font-size: 14px;
                            background-color: #c61ce4;
                            color: white;
                            height: 30px;
                            width: 120px;
                            text-decoration: none;

                            &:hover {
                                cursor: pointer;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                .img .description {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    background: linear-gradient(to bottom, transparent 0%, black 100%);
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    animation-name: animation;
                    animation-timing-function: 1s;
                    animation-duration: 1s;
                    h3 {
                        padding: 5px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1245px) {
    .projects .list-projects {
        grid-template-columns: auto auto;
        grid-row-gap: 50px;
        grid-column-gap: 50px;
        width: 100%;
    }
}
@media (max-width: 865px) {
    .projects {
        h2 {
            font-size: 45px;
        }
        .list-projects {
            grid-row-gap: 20px;
            grid-column-gap: 50px;
        }
    }
}
@media (max-width: 768px) {
    .projects .list-projects .project .img {
        height: 150px;
        width: 280px;
        .description {
            h3 {
                color: white;
                font-size: 20px;
                font-family: $worksans;
            }
            .tecnologias .tecnologia p {
                font-size: 9px;
            }

            .buttons {
                margin: 5px 0;
                a {
                    font-size: 10px;
                    height: 25px;
                    width: 90px;
                }
            }
        }
    }
}
@media (max-width: 615px) {
    .projects {
        h2 {
            font-size: 35px;
        }
        .list-projects {
            grid-column-gap: 20px;
            .project .img {
                height: 150px;
                width: 240px;
            }
        }
    }
}
@media (max-width: 500px) {
    .projects {
        h2{
            margin-top: 90px;
        }
        .list-projects {
            grid-template-columns: auto;
            .project .img {
                height: 200px;
                width: 360px;
            }
        }
    }
}
@media (max-width: 375px) {
    .projects .list-projects .project .img {
        height: 160px;
        width: 280px;
    }
}
@keyframes animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
